/admin/
/assets/
/data/
/includes/
/modules/
/themes/
/uploads/
/vendor/

/install/*
!/install/update/
!/install/update_data.php

.htaccess
api.php
composer.json
config.php
COPYRIGHT.txt
error.php
favicon.ico
index.php
robots.php
robots.txt
web.config

